form{
  display: flex;
  flex-direction: column;
  padding: 10px;
  .form-item{
    margin: 10px 40px;
    label{
      margin: 8px;
    }
  }
  button{
    width: 240px;
    border-radius: 8px;
  }
}
