*{
  font-size: 40px;
}
.bloque{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.list-elements{
  padding: 0;
  min-height: 240px;
}
.list-buttons{
  padding: 0;
  display: flex;
  list-style: none;
}
.active{
  background: #e3eeee;
  color:blue;
}
